/*Application CSS Styles*/

{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background:url(../img/JBHomePageBG.png) no-repeat fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
	width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}

/*.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    margin:0px 30px;
    padding:2px 0px;
}


/*.event.listening {
	position: absolute;
	top: 30%;
    background-color:#333333;
    font-size:12px;
    display:block;
}*/

.event.received {
    position: fixed;
	top: 10%;
	left: 28%;
    display:none;
}

.menu {
	text-align: center;
	margin:15px 0px;
    padding:2px 0px;
}
	

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.menu.button {
   border-top: 1px solid #96d1f8;
   background: #1e394a;
   background: -webkit-gradient(linear, left top, left bottom, from(#3db8ff), to(#1e394a));
   background: -webkit-linear-gradient(top, #3db8ff, #1e394a);
   background: -moz-linear-gradient(top, #3db8ff, #1e394a);
   background: -ms-linear-gradient(top, #3db8ff, #1e394a);
   background: -o-linear-gradient(top, #3db8ff, #1e394a);
   padding: 10px 10px;
   margin:25px 0px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 30px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
   
.button:hover {
   border-top-color: #3588bf;
   background: #3588bf;
   color: #001c2e;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}