/*Application CSS Styles*/

{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
	  width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

li {
  padding: 10px 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  background-color: grey;
}

@media only screen and (max-device-width: 480px) {
  #menu.main {
    background-image: url('../img/JBHomePageBG.png') !important;
    background-size: cover;
  }

  #menu.options {
    background-image: url('../img/JBOptionsPageBG.png') !important;
    background-size: cover;
  }
    
  #menu.help {
    background-image: url('../img/JBHelpPageBG.png') !important;
    background-size: cover;
  }
   
}

#progress {
  display: none;
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#percent {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#progress-bar {
  width: 200px;
}

#main {
  /*display: none;*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#options-container {
  display: none;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color: white;
}

#settings {
  margin: 40px auto;
}

#settings .opt{
  margin: 30px auto;
}

#settings .p {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

#settings .switch{
  width: 100px;
  margin: 10px auto;
}

#settings .slider{
  width: 200px;
  margin: 10px auto;
}

#help-container {
  display: none;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color: white;
}

.header {
  position: center;
  background-color: #FB1886;
  padding: 5px;
}

.header h1{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#instructions {
  background-color: transparent;
  width: 300px;
  /*margin-top: 100px;*/
  margin: 10px auto;
  padding: 10px;
  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

#game-over {
  display: none;
  position:absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}


#pause {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  z-index: 1;
  background: url('../img/pause.png') no-repeat;
  background-size: 50px 50px;

}

#pause:hover {
  background-size: 55px 55px;
}

#container {
  background-color: rgba(0, 0, 0, .5);;
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;

}

.pause-on{
  background-color: white;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  width: auto;
  height: 50%;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;;
}

.pause-on .button{
  margin:20px auto;
}







/************************** Buttons CSS ********************************/
.button {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/

  display: block;
  width: 150px;
  margin: 0 auto;
  height: 60px;
  line-height: 30px;
  border: 1px solid #AA2666;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
}



.button:hover {
  font-size: 28px;
  background-color: #B30D5D;
  background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
  background-image:         linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
}

/******************************************************************************/
/******** Switch CSS *******/
.onoffswitch {
  position: relative; width: 100px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #B30D5D; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    text-align: left;
    content: "ON";
    padding-left: 10px;
    background-color: #B30D5D; color: #FFFFFF;
}
.onoffswitch-inner:after {
    text-align: left;
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 35px; margin: -2.5px;
    background: #FFFFFF;
    border: 2px solid #B30D5D; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 66px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/******************* Slider CSS *******************************/

input[type=range] {  
  width: 200px;
  margin: 0px auto;
  -webkit-appearance: none;  
  border-radius: 8px;  
  height: 7px;  
  background-color: #fff;       
}  

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}