Mobile/Jailbreak/platforms
Mobile/Jailbreak/platforms/android/ant-build
*.prop
*.apk
*.ap_
Mobile/Jailbreak/platforms/android/ant-build/CordovaApp.ap_
Mobile/Jailbreak/platforms/android/ant-build/CordovaApp.ap_